<!DOCTYPE HTML>
<html>
<head>
  <title>{{ site.title }}</title>
  <meta name="description" content="Heather Hall imparts herbal wisdom and herbal products." />	
  <meta property="og:url" content="https://{{ site.url }}" />
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:description" content="Heather Hall imparts herbal wisdom and herbal products." />
  <meta property="og:image" content="https://{{ site.url }}/assets/images/heather-hall-business-card.png" />
  <meta property="keywords" content="herbal,stress,anxiety,balance,health,body,pain,digestive,digestion,appetite,hormones,menstrual,period,sleep,insomnia,energy"/>
  <link href="assets/css/main.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="icon" type="image/png" href="/assets/images/favicon-32x32.png" sizes="32x32" />
  <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico"  | absolute_url }}" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Crimson+Text&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body class="home">
<header>
<nav>
  <ul>
    {% assign navorder = "Welcome!About Herbalism!Satisfied Clients!Book A Consultation" | split: "!" %}
    {% for n in navorder %}
    <li class="navbtn">
      <a href="{{ n | slugify }}">
        {{ n }}
      </a>
    </li>
    {% endfor %}
    {% for p in site.pages %}
    {% unless navorder contains p.title %}
    {% if p.title and p.title != "Home" %}
    <li class="navbtn">
      <a href="{{ p.title | slugify }}">
        {{ p.title }}
      </a>
    </li>
    {% endif %}
    {% endunless %}
    {% endfor %}
  </ul>
</nav>
</header>
<div class="main">
  <div class="main">
    <div class="title-box">
    <h1>{{ site.title }}</h1>
    <p>&nbsp;</p>
    </div>
    {{ content }}
  </div>
</div>
<footer>
<p>&reg; Copyright 2020-{{ site.time | date: '%y' }} Heather Hall. All Rights Reserved</p>
</footer>
</body>
</html>
