<!DOCTYPE HTML>
<html>
<head>
  <title>Calluna Vitality</title>
  <meta name="description" content="Heather Hall imparts herbal wisdom and herbal products." />	
  <meta property="og:url"
    content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:title" content="Calluna Vitality" />
  <meta property="og:description" content="Heather Hall imparts herbal wisdom and herbal products." />
  <meta property="og:image" content="{{ site.url }}/assets/images/heatherflower.png" />
  <link href="assets/css/main.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico"  | absolute_url }}" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Crimson+Text&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body class="pages">
<header>
<nav>
  <ul>
    <li class="homebtn navbtn">
      <a href={{ site.url }}>
        Calluna Vitality
      </a>
    </li>
    {% assign navorder = "Welcome!About!Satisfied Clients!Resources" | split: "!" %}
    {% for n in navorder %}
    {% if n != page.title %}
    <li class="navbtn">
      <a href="{{ site.url }}/{{ n | slugify }}">
        {{ n }}
      </a>
    </li>
    {% endif %}
    {% endfor %}
    {% for p in site.pages %}
    {% unless navorder contains p.title %}
    {% if p.title and p.title != "Home" %}
      <li class="navbtn">
      <a href="{{ site.url }}/{{ p.title | slugify }}">
        {{ p.title }}
      </a>
    </li>
    {% endif %}
    {% endunless %}
    {% endfor %}
  </ul>
</nav>
</header>
<div class="main">
<div class="container">
{{ content }}
</div>
</div>
<footer class="subpagefooter">
<p>&reg; Copyright 2020-{{ site.time | date: '%y' }} Heather Hall. All Rights Reserved</p>
</footer>
</body>
</html>
